.container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: flex-start;
    margin: 0 auto;
}

.thead {
    background-color: #5b21b6;
    color: #fff;
    border: 1px solid #5b21b6;
}

.thead th {
    padding: 0 10px;
}

.trow {
    background-color: #a78bfa;
}

.tdata {
    padding: 0 10px;
    border: 1px solid #5b21b6;
}